@import './global-parts/variables';
@import './global-parts/typography';

body {
    background-color: var(--smoky-black);
    font-family: 'Oswald', sans-serif;
    color: white;

    h1 {
        font-family: "Amatic SC", cursive;
        font-size: 4rem;
    }
}