:root {

    /*------------------------
          COLORS
------------------------*/
    --smoky-black: #0F0F0D;
    --umber: #6D574C;
    --coffee: #674734;
    --onyx: #414041;
    --cafe-au-lait: #B58C6C;
    --text: #E7B289;
}

;